<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>KlSS Level Editor</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="app.js"></script>
</head>

<body>
    <div id="app">
        {{ resetLevel() }}
        <H1>KlSS Level Editor</H1>
        <div class="grid" v-for="(row, i) in grid">
            <span v-for="(cell, j) in row">
                <img v-on:click="paint(i, j)" type="image" :src="getTileUrl(cell)" value="">
            </span>
            </BR>
        </div>
    </div>
</body>

</html>